body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: #c3073f;
  background-color: #1a1a1d;
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.div1 {
  grid-area: 4 / 4 / 5 / 5;
}
.div2 {
  grid-area: 4 / 5 / 5 / 6;
}
.div3 {
  grid-area: 4 / 6 / 5 / 7;
}
.div4 {
  grid-area: 2 / 8 / 3 / 9;
}
.div5 {
  grid-area: 3 / 8 / 4 / 9;
}
.div6 {
  grid-area: 4 / 8 / 5 / 9;
}
.div7 {
  grid-area: 2 / 5 / 3 / 6;
}
.div8 {
  grid-area: 3 / 6 / 4 / 7;
}
.div9 {
  grid-area: 3 / 4 / 4 / 5;
}
.div10 {
  grid-area: 2 / 9 / 3 / 10;
}
.div11 {
  grid-area: 3 / 9 / 4 / 10;
}

.box-3 {
  background-color: #c3073f;
  border-radius: 22px;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.btn-three {
  color: black;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #1a1a1d;
  border-radius: 22px;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
